.AddItemButtons {
  display: block;
  margin: 0 auto 5px auto;
  /* 50% of wrapper but never wider than 400px */
  width: min(50%, 400px);
  letter-spacing: 1px;
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  background-color: #8c2c24;
  color: white;
  cursor: pointer;
}

.AddItemButtons:hover {
  background-color: #a33b32;
  color: white;
}

.AddItemButtons:last-of-type {
  border-color: #8c2c24;
  background-color: #f6f7f9;
  color: #040404;
}
